body {
    font-family: Arial, sans-serif;
    background-color: #eef6f7;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #0f766e;
}

.subtitle {
    text-align: center;
    color: #666;
}

.topics {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.topics label {
    background-color: #ccfbf1;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
}

.main-btn {
    width: 100%;
    margin-top: 25px;
    padding: 14px;
    border: none;
    border-radius: 10px;
    background-color: #14b8a6;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.question-box,
.feedback-box {
    margin-top: 25px;
    padding: 20px;
    background-color: #f0fdfa;
    border-radius: 10px;
}

.question-box h2,
.feedback-box h2 {
    color: #0f766e;
}

.container {
    width: 650px;
    margin: 50px auto;
    padding: 30px;
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}